<a href="https://colab.research.google.com/github/guiaech/projeto_integrador_VA/blob/main/projeto_integrador_V_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Fazendo upload das credenciais para poder usar a API do Kaggle.
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"guilhermeandradech","key":"160910ef6e38456ce8ec0ecddc7d7fb4"}'}

In [2]:
#Instalando a boblioteca do kaggle
!pip install kaggle --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2022.6.15)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [3]:
#Criação do diretório e cópia do arquivo de autorização da API.E listando pasta oculta.
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!ls ~/.kaggle

kaggle.json

In [4]:
#Fazendo downloado dos arquivos pela API
!kaggle datasets download -d samuevan/reimbursemensts-deputies-brazil

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading reimbursemensts-deputies-brazil.zip to /content
 88% 115M/130M [00:01<00:00, 101MB/s]
100% 130M/130M [00:01<00:00, 91.8MB/s]

In [5]:
#Importando pandas para ler os arquivos csv
import pandas as pd

In [6]:
#Importando biblioteca para desconpactar arquivo zipado
from zipfile import ZipFile

In [7]:
#Nomeando uma variavel com os arquivos zipados
z = ZipFile('/content/reimbursemensts-deputies-brazil.zip', 'r')

In [8]:
#Extraindo os arquivos Zipados
z.extractall()
z.close()

In [9]:
#Lendo o arquivo csv, nele o separador foi o ponto e virgula.
dt = pd.read_csv('/content/reimbursements-2008.csv', on_bad_lines='skip')
dt2 = pd.read_csv('/content/reimbursements-2009.csv', on_bad_lines='skip')
dt3 = pd.read_csv('/content/reimbursements-2010.csv', on_bad_lines='skip')
dt4 = pd.read_csv('/content/reimbursements-2011.csv', on_bad_lines='skip')
dt5 = pd.read_csv('/content/reimbursements-2012.csv', on_bad_lines='skip')
dt6 = pd.read_csv('/content/reimbursements-2013.csv', on_bad_lines='skip')
dt7 = pd.read_csv('/content/reimbursements-2014.csv', on_bad_lines='skip')
dt8 = pd.read_csv('/content/reimbursements-2015.csv', on_bad_lines='skip')
dt9 = pd.read_csv('/content/reimbursements-2016.csv', on_bad_lines='skip')
dt10 = pd.read_csv('/content/reimbursements-2017.csv', on_bad_lines='skip')
dt11 = pd.read_csv('/content/reimbursements-2018.csv', on_bad_lines='skip')
dt12 = pd.read_csv('/content/reimbursements-2019.csv', on_bad_lines='skip')
dt13 = pd.read_csv('/content/reimbursements-2020.csv', on_bad_lines='skip')
dt14 = pd.read_csv('/content/reimbursements-2021.csv', on_bad_lines='skip')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (10,22,23) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (10,23) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (23) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [13]:
# Concatenando toda tabelas
nova = pd.concat([dt, dt2,dt3,dt4,dt5,dt6,dt7,dt8,dt9,dt10,dt11,dt12,dt13,dt14,])

In [14]:
display(nova)

,congressperson_name,congressperson_id,congressperson_document,term,state,party,term_id,subquota_number,subquota_description,subquota_group_id,...,month,year,installment,passenger,leg_of_the_trip,batch_number,numbers,total_value,applicant_id,document_id
0,SILVIO COSTA,4930.0,160.0,2007,PE,PTB,53,10,Telecommunication,0,...,12,2008,0,NaN,NaN,0,['0'],NaN,1973,0
1,ALDO REBELO,73428.0,331.0,2007,SP,PCdoB,53,10,Telecommunication,0,...,12,2008,0,NaN,NaN,0,['0'],NaN,764,0
2,ANTONIO CARLOS PANNUNZIO,73431.0,334.0,2007,SP,PSDB,53,10,Telecommunication,0,...,3,2008,0,NaN,NaN,0,['0'],NaN,961,0
3,ANTONIO CARLOS PANNUNZIO,73431.0,334.0,2007,SP,PSDB,53,10,Telecommunication,0,...,12,2008,0,NaN,NaN,0,['0'],NaN,961,0
4,ARNALDO FARIA DE SÁ,73434.0,337.0,2007,SP,PTB,53,10,Telecommunication,0,...,12,2008,0,NaN,NaN,0,['0'],NaN,292,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36069,Ricardo Izar,160655.0,383.0,2019,SP,PP,56,10,Telecommunication,0,...,4,2021,0,NaN,NaN,1760047,[nan],0.0,2253,7182859
36070,Alice Portugal,74057.0,180.0,2019,BA,PCdoB,56,3,Fuels and lubricants,1,...,4,2021,0,NaN,NaN,1760143,[nan],0.0,1531,7183050
36071,Alice Portugal,74057.0,180.0,2019,BA,PCdoB,56,3,Fuels and lubricants,1,...,4,2021,0,NaN,NaN,1760143,[nan],0.0,1531,7183054
36072,Alice Portugal,74057.0,180.0,2019,BA,PCdoB,56,3,Fuels and lubricants,1,...,4,2021,0,NaN,NaN,1760143,[nan],0.0,1531,7183064
36073,Alice Portugal,74057.0,180.0,2019,BA,PCdoB,56,3,Fuels and lubricants,1,...,4,2021,0,NaN,NaN,1760143,[nan],0.0,1531,7183067

In [18]:
nova.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4016846 entries, 0 to 36073
Data columns (total 29 columns):
 #   Column                      Dtype
---  ------                      -----
 0   congressperson_name         object
 1   congressperson_id           float64
 2   congressperson_document     float64
 3   term                        int64
 4   state                       object
 5   party                       object
 6   term_id                     int64
 7   subquota_number             int64
 8   subquota_description        object
 9   subquota_group_id           int64
 10  subquota_group_description  object
 11  supplier                    object
 12  cnpj_cpf                    float64
 13  document_number             object
 14  document_type               int64
 15  issue_date                  object
 16  document_value              float64
 17  remark_value                float64
 18  total_net_value             float64
 19  month                       int64
 20  year                        int64
 21  installment                 int64
 22  passenger                   object
 23  leg_of_the_trip             object
 24  batch_number                int64
 25  numbers                     object
 26  total_value                 float64
 27  applicant_id                int64
 28  document_id                 int64
dtypes: float64(7), int64(11), object(11)
memory usage: 919.4+ MB

In [22]:
# Transformando em dataframe
df = pd.DataFrame(nova)

In [30]:
# Excluindo coluna
df = df.drop('subquota_group_id', axis=1)

In [37]:
# Excluindo coluna
df = df.drop('subquota_group_description', axis=1)

In [50]:
# Verificando valores unicos
df['document_value'].unique()

array([  80.01,  372.55,   38.48, ..., 3013.93, 3664.95, 2424.79])

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4016846 entries, 0 to 36073
Data columns (total 27 columns):
 #   Column                   Dtype
---  ------                   -----
 0   congressperson_name      object
 1   congressperson_id        float64
 2   congressperson_document  float64
 3   term                     int64
 4   state                    object
 5   party                    object
 6   term_id                  int64
 7   subquota_number          int64
 8   subquota_description     object
 9   supplier                 object
 10  cnpj_cpf                 float64
 11  document_number          object
 12  document_type            int64
 13  issue_date               object
 14  document_value           float64
 15  remark_value             float64
 16  total_net_value          float64
 17  month                    int64
 18  year                     int64
 19  installment              int64
 20  passenger                object
 21  leg_of_the_trip          object
 22  batch_number             int64
 23  numbers                  object
 24  total_value              float64
 25  applicant_id             int64
 26  document_id              int64
dtypes: float64(7), int64(10), object(10)
memory usage: 890.3+ MB

In [47]:
# Checando valores nulos
df_check=df.isna()

check_for_any_nan= df.isna().values.any()

check_for_any_nan= df.isna().any().any()
total_nan_values = df.isna().sum().sum()
print(df_check)
print("NaN Presence:"+str(check_for_any_nan))
print ("Total Number of NaN values:"+str(total_nan_values))

       congressperson_name  congressperson_id  congressperson_document   term  \
0                    False              False                    False  False
1                    False              False                    False  False
2                    False              False                    False  False
3                    False              False                    False  False
4                    False              False                    False  False
...                    ...                ...                      ...    ...
36069                False              False                    False  False
36070                False              False                    False  False
36071                False              False                    False  False
36072                False              False                    False  False
36073                False              False                    False  False

       state  party  term_id  subquota_number  subquota_description  supplier  \
0      False  False    False            False                 False     False
1      False  False    False            False                 False     False
2      False  False    False            False                 False     False
3      False  False    False            False                 False     False
4      False  False    False            False                 False     False
...      ...    ...      ...              ...                   ...       ...
36069  False  False    False            False                 False     False
36070  False  False    False            False                 False     False
36071  False  False    False            False                 False     False
36072  False  False    False            False                 False     False
36073  False  False    False            False                 False     False

       ...  month   year  installment  passenger  leg_of_the_trip  \
0      ...  False  False        False       True             True
1      ...  False  False        False       True             True
2      ...  False  False        False       True             True
3      ...  False  False        False       True             True
4      ...  False  False        False       True             True
...    ...    ...    ...          ...        ...              ...
36069  ...  False  False        False       True             True
36070  ...  False  False        False       True             True
36071  ...  False  False        False       True             True
36072  ...  False  False        False       True             True
36073  ...  False  False        False       True             True

       batch_number  numbers  total_value  applicant_id  document_id
0             False    False         True         False        False
1             False    False         True         False        False
2             False    False         True         False        False
3             False    False         True         False        False
4             False    False         True         False        False
...             ...      ...          ...           ...          ...
36069         False    False        False         False        False
36070         False    False        False         False        False
36071         False    False        False         False        False
36072         False    False        False         False        False
36073         False    False        False         False        False

[4016846 rows x 27 columns]
NaN Presence:True
Total Number of NaN values:7992436

In [49]:
#Transformando em csv
df.to_csv('all_reimbursements.csv')

In [51]:
#Verificando tamanho
import os 
  
sz = os.path.getsize("all_reimbursements.csv") 
  
print(sz)

834538906

In [ ]:
#Verificando correlações
import seaborn as sns
import matplotlib.pyplot as plt

sns.pairplot(df)
plt.show()

In [ ]:
sns.heatmap(df.corr() , cmap = 'Wistia' , annot = True)
plt.show()